body {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 50px;
}

.maze-grid {
    grid-column: 2;

    display: grid;

    aspect-ratio: 1;
    width: fit-content;
    height: fit-content;

    margin: auto;
    gap: 5px; 
}

.maze-cell {
    background-color: rgb(202, 202, 202);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maze-cell-wall {
    background: repeating-linear-gradient(
    45deg,
    #2c2c2c,
    #2c2c2c 10px,
    #111111 10px,
    #111111 20px
    );
}

.maze-cell-end {
    background-color: blue;
    color: white;
}

.maze-cell-path {
    background-color: rgb(166, 183, 194);
}

i {
    margin: auto;
    font-size: 20px;
}

#code {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

#code h3 {
    font-family:'Courier New', Courier, monospace;
    margin: 5px;
    white-space: pre;
}

.code-currentline {
    background-color: green;
    color: white;
}

.current-cell {
    background: rgb(153, 187, 156);
}