.maze-grid {
    display: grid;

    aspect-ratio: 1;
    width: fit-content;
    height: fit-content;

    margin: auto;
    margin-top: 50px;
    gap: 5px; 
}

.maze-cell {
    background-color: rgb(202, 202, 202);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maze-cell-wall {
    background: repeating-linear-gradient(
    45deg,
    #2c2c2c,
    #2c2c2c 10px,
    #111111 10px,
    #111111 20px
    );
}

.maze-cell-end {
    background-color: blue;
    color: white;
}

.maze-cell-path {
    background-color: rgb(166, 183, 194);;
}

i {
    margin: auto;
    font-size: 20px;
}