.maze-grid {
    display: grid;

    aspect-ratio: 1;
    width: fit-content;
    height: fit-content;

    margin: auto;
    margin-top: 50px;
    gap: 5px; 
}

.maze-node {
    background-color: antiquewhite;
    height: 50px;
    width: 50px;
}